<p>home-admin works!</p>
 <!-- card top --dashboard -->
 <div class="card-top container-fluid">
    <div class="container d-flex">
        <div class="item">
            <a class="aclass" routerLink="/addProduct">
                <i class="fa fa-plus"></i>
                <h6>Add the product</h6>
            </a>
        </div>
    
        <div class="item">
            <a class="aclass" routerLink="/adminViewUpdateProduct">
                <i class="fa fa-eye"></i>
                <h6>View/Update all the products</h6>
            </a>
        </div>
        
        <div class="item">
            <a class="aclass" routerLink="/allUser">
                <i class="fa fa-wrench"></i>
                <h6>Change Password</h6>
            </a>
        </div>

    </div>
</div>
